.strike-through {
    text-decoration: line-through
}
.container{
    display: inline-block;
    background-color: beige;
}
.button-right{
    display: inline-block;
    align-items: flex-end;
    flex-direction: row; 
    float: right;
}